<div class="" style="height:100vh ">
  <div id="body" class="pt-5">
  </div>

  <h2 class="display-4 m-5 p-5 bg-text mb-5">Get the home made food delivered to your doorsteps.</h2>

  <form class="mt-5" id="search">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <div class="options-body">
    <a routerLink="/alaCarte" id="development-know" class="m-5 px-5 py-3 btn btn-outline-light" style="font-size:25px">à la carte</a>
    <a routerLink="/meals" id="development-know" class="m-5 px-5 py-3 btn btn-success" style="font-size:25px">Find Meals</a>
  </div>
</div>
